.routines-container {
    padding: 20px;
    background-color: #020f23;
    min-height: 100vh;
  }
  
  .routines-list {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .routine-card {
    background-color: #020f23;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #3d3f4e;
  }

  .routine-exercises-header {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
  }

  .routine-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
  }

  .routine-header {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px
  }
  
  .routine-name {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .routine-exercises {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between exercise items */
  }

  header {
    font-size: 20px;
  }
  
  .routine-exercise-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .routine-exercise-name {
    flex: 1;
    text-align: left;
  }

  .routine-exercise-details {
    flex: 2;
    display: flex;
    justify-content: space-evenly; /* Centers the exercise details */
  }
  
  .routine-exercise-sets,
  .routine-exercise-reps,
  .routine-exercise-weight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
  }
  
  span {
    color: white;
    font-weight: bold;
  }
  
  .exercise-edit-btn {
    display: flex;
    /* You can add other styling like padding, background color, etc. */
  }
  
  
  .routine-edit-btn, .routine-delete-btn, .exercise-edit-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .routine-edit-btn:hover, .routine-delete-btn:hover, .exercise-edit-btn:hover {
    background-color: #3d3f4e;
  }

  .routine-exercise-edit-btn-container {
    display: flex;
    justify-content: flex-end; /* Aligns the edit button to the right */
    flex-shrink: 0;
  }
  
  .routine-days {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .day-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 10px;
  }
  
  .day-btn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .day-btn:hover {
    background-color: #3d3f4e;
  }

  .day-btn.assigned {
    background-color: green;
    color: white;
  }
  
  .day-btn:not(.assigned):hover, .unassign-btn:hover {
    background-color: #3d3f4e;
  }
  

  .unassign-btn-container {
    margin-top: 20px;
  }

  .unassign-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .routine-exercise-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 10px;
    }

    .routine-exercise-sets,
    .routine-exercise-reps,
    .routine-exercise-weight {
      display: flex;
      gap: 10px
    }

    .routine-exercise-details {
      display: flex;
      justify-content: center;

    }

    .exercise-edit-btn {
      font-size: 8px;
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 0px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  @media (max-width: 400px) {
  .routine-exercise-sets span {
    display: none;
  }
  .routine-exercise-reps span {
    display: none;
  }

  .routine-exercise-weight span {
    display: none;
  }
}