/* NavBar Styles */
.navbar {
    background-color: #020f23; /* Dark blue background */
    display: flex;
    padding: 20px 40px;
  }

  .navbar-logo {
  height: 20px; /* Adjust the size of your logo */
  margin-right: 20px;
}
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px; /* Space between menu items */
    margin: 0;
    padding: 0;
  }
  
  .navbar-list-item {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  
  .navbar-list-item:hover {
    text-decoration: underline;
  }
  
  .navbar-list-item::after {
    content: '➜';
    color: #0C1A2E;
    position: absolute;
    top: 0;
    right: -20px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .navbar-list-item:hover::after {
    opacity: 1;
  }
  
  /* Logo */
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
  }
  
  .navbar .logo span {
    color: #e6e6e6;
  }

  .navbar-logout {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-left: 65px;
  }
  

  /* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .navbar-logo {
    height: 30px; /* Slightly increase logo size for visibility */
    margin-bottom: 50px; /* Space between logo and nav items */
  }

  .navbar-list {
    flex-direction: column;
    gap: 20px; /* Reduce space between list items */
    text-align: center; /* Center align the text */
  }

  .navbar-list-item {
    font-size: 16px; /* Slightly reduce font size for mobile */
  }

  .navbar-list-item::after {
    display: none; /* Hide arrow on mobile for cleaner look */
  }

  .navbar-logout {
    margin-left: 0;
    margin-top: 20px; /* Move logout below the nav items */
    font-size: 16px; /* Match the mobile size of list items */
  }
}
